html,
body,
p,
ol,
ul,
li,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}



ul {
    list-style: none;
}

button,
input,
select {
    border: none;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0px 15px;
}

body {
    font-family: Roboto;
}

/* ?==========main page========== */
/* !==========header========== */
.header {
    display: flex;
    justify-content: center;
    gap: 0px 90px;
    height: 80px;
    align-items: center;
}

.header_name {
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.web {
    color: #2196f3;
}

.contacts_list {
    display: flex;
    justify-content: center;
    align-self: center;
}

.list_header_nav,
.contacts_list {
    gap: 0px 34px;

}

.header_wrap {
    display: flex;

}

.header_link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header_item .header_link:hover {
    color: #2196f3;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header_nav {

    margin-right: 318px;
}

.list_header_nav {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
}

.contacts_item .contacts_link:hover {
    color: #2196f3;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.contacts_link {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.contacts_link:hover svg {
    fill: #2196f3;
}

.contacts_link {

    column-gap: 5px;
    display: flex;
    align-items: center;

}





/* !==========banner========== */
.banner {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/banner.jpg);
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;


}

.banner_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_tytle {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    align-self: center;
}

.banner_btn {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    color: #fff;
    background-color: #2196f3;
    width: 216px;
    height: 50px;
    border: none;
}

/* !==========specials========== */
.specials {
    margin-bottom: 118px;
    margin-top: 94px;
}

.list_sp_tytle {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.specials_list {
    display: flex;
    justify-content: center;
    gap: 0px 30px;
}

.specials_item {
    display: flex;
    flex-direction: column;
}

.specials_item svg {
    width: 270px;
    height: 120px;
    background-color: #F5F4Fa;
    padding: 25px 100px;


}





.list_sp_text {
    color: #757575;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/* !==========work========== */
.work {
    display: flex;
    flex-direction: column;
}

.work_tytle {
    color: #212121;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}

.work_list {
    display: flex;
    justify-content: center;
    gap: 0px 30px;
}


.work_img {
    width: 370px;
    height: 294px;
    box-sizing: border-box;
}

.work_item {
    position: relative;

}

.div_command {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.80);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.p_command {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

/* !==========people========== */
.people {
    margin-top: 94px;
    padding-top: 94px;
    background: #f5f4fa;
    padding-bottom: 188px;
}

.people_list {
    display: flex;
    justify-content: center;
    gap: 0px 25px;
    margin-top: 50px;
}

.people_item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

.people_tytle {
    color: #212121;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}

.list_people_name {
    color: #212121;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.48px;
}

.list_people_job {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.div_svg {

    display: inline-block
}

.link_svg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;

}


.link_svg:hover {
    background-color: #2196f3;
    fill: #FFFFFF;

}

.list_svg_ppl {
    display: flex;
    justify-content: center;
    align-items: center;

}

.people_item {
    box-sizing: border-box;
}

/* !==========footer========== */
.footer {
    background-color: #2f303a;
    display: flex;
    padding-left: 215px;
}

.footer_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_list {
    height: 60px;
    margin-bottom: 60px;
    gap: 10px;
}

.footer_name {
    color: #fff;
    font-family: raleway;
    font-weight: 700;
    margin-top: 60px;
    font-size: 26px;
}

.footer_item_link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer_item_link_1 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/* ?==========portfolio========== */
/* !==========header=========== */

.port_wrap {
    border: 1px solid #ececec;
}

/* !==========projects========== */
.proj_list_btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.proj_btn {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    display: inline-block;
    border-radius: 4px;
    margin: 8px;
    width: 112px;
    height: 38px;
    border: none;
}

.proj_btn:hover {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    background-color: #2196f3;
}

.proj_item {
    display: flex;
    flex-direction: column;
}

.proj_item_img {
    width: 356px;
}

.proj_item:nth-child(1n + 7) {
    margin-bottom: 13vh;
}

.proj_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: calc((100% - 3 * 30) / 3);
}

.proj_item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.proj_item_tytle {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}

.proj_item_text {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}

.proj_item_text,
.proj_item_tytle {
    padding-left: 6%;
}

.section_svg {
    margin: 94px;
}



.h4 {

    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.list_svg {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;

}



.icon_section {
    fill: #AFB1B8;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
}

.icon_section:hover {
    fill: #2196F3;

}

.icon_forster {
    display: flex;
    padding: 8px 10px 10px 11px;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
}