html,
body,
p,
ol,
ul,
li,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}



ul {
    list-style: none;
}

button,
input,
select {
    border: none;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0px 15px;
}

body {
    font-family: Roboto;
}

/* ?==========main page========== */
/* !==========header========== */

@keyframes forItem {
    0% {
        transform: skewY(0);
    }

    100% {
        transform: skewY(10deg);
        animation-play-state: paused;
    }
}

@keyframes forButton {
    0% {
        transform: translateX(0);
        transform: scale(1);
    }

    100% {
        transform: translateX(5px);
        transform: scale(1.25);
    }
}

@keyframes bounceHover {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

@keyframes changeHeaderScaleHover {
    0% {
        transform: rotateX(0);
        transform: perspective(360deg);
    }

    50% {
        transform: rotateX(90deg);
        transform: perspective(360deg);
    }

    100% {
        transform: rotateX(0);
        transform: perspective(360deg);
    }
}

@keyframes changeFooterScaleHover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotateRegularCustomers {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes buttonClose {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes focusModal {
    0% {
        transform: skewX(0);
    }

    50% {
        transform: skewX(30deg);
    }

    100% {
        transform: skewX(0);
    }
}

@keyframes hoverModal {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.75);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes translate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.overlay_header {
    margin: 0;
    padding: 0;
    display: flex;
}

.overlay_header_item {
    position: relative;
    display: flex;
}






.header {
    display: flex;
    justify-content: center;
    gap: 0px 90px;
    height: 80px;
    align-items: center;
}

.header_name {
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.web {
    color: #2196f3;
}

.contacts_list {
    display: flex;
    justify-content: center;
    align-self: center;
}

.list_header_nav,
.contacts_list {
    gap: 0px 34px;

}

.header_wrap {
    display: flex;

}

.header_link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header_item .header_link:hover {
    color: #2196f3;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header_nav {

    margin-right: 318px;
}

.list_header_nav {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
}

.contacts_item .contacts_link:hover {
    color: #2196f3;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.contacts_link {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.contacts_link:hover svg {
    fill: #2196f3;
}

.contacts_link {

    column-gap: 5px;
    display: flex;
    align-items: center;

}





/* !==========banner========== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 15px;

    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transform: translate(-50%, -50%);
}




.textarea-modal {
    width: 416px;
    height: 96px;
    flex-shrink: 0;
    border: none;
    resize: none;
    outline: none;


}



.modal-a {
    margin-left: 5px;
    color: rgba(33, 150, 243, 1);
    text-decoration: underline;
}

.modal-checkbox {
    cursor: pointer;
    margin-top: 8px;
    width: 16px;
    height: 15px;
    line-height: 2.4;
    border: none;
    margin-right: 5px;
}

.button-modal {
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #188ce8;
}

.button-modal:hover {
    animation-name: hoverModal;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.modal-input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.modal-form {
    height: 581px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 12px;
    align-items: center;

}

.modal-label {
    row-gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    position: relative;
    border-radius: 4px;
}

.modal-label-a {
    padding-top: 20px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.4;
    letter-spacing: 0.42px;
    display: flex;
    flex-direction: row;
}

.modal-label-commentar {

    row-gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    position: relative;
    width: 448px;
    height: 40px;

}





.svg-input {
    bottom: 11px;
    left: 12px;
    position: absolute;

}

.textarea-modal-div {
    animation-name: fadeIn;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}

.textarea-modal-div:focus-within {
    animation-name: focusModal;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}



.modal-a {
    margin-left: 5px;
    color: rgba(33, 150, 243, 1);
    text-decoration: underline;
}

.modal-checkbox {
    margin-top: 8px;
    width: 16px;
    height: 15px;
    line-height: 2.4;
    border: none;
    margin-right: 5px;
}

.banner {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(img/banner.jpg);
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;


}

.banner_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_tytle {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    align-self: center;
}

.banner_btn {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    color: #fff;
    background-color: #2196f3;
    width: 216px;
    height: 50px;
    border: none;
}

/* !==========specials========== */



.specials {
    margin-bottom: 118px;
    margin-top: 94px;
}

.list_sp_tytle {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.specials_list {
    display: flex;
    justify-content: center;
    gap: 0px 30px;
    margin-top: 94px;
}


.specials_item {
    display: flex;
    flex-direction: column;
}

.specials_item svg {
    width: 270px;
    height: 120px;
    background-color: #F5F4Fa;
    padding: 25px 100px;


}





.list_sp_text {
    color: #757575;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/* !==========work========== */
.work {
    display: flex;
    flex-direction: column;
}

.work_tytle {
    color: #212121;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}

.work_list {
    display: flex;
    justify-content: center;
    gap: 0px 30px;
}


.work_img {
    width: 370px;
    height: 294px;
    box-sizing: border-box;
}

.work_item {
    position: relative;

}

.div_command {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.80);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.p_command {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

/* !==========people========== */
.people {
    margin-top: 94px;
    padding-top: 94px;
    background: #f5f4fa;
    padding-bottom: 188px;
}

.people_list {
    display: flex;
    justify-content: center;
    gap: 0px 25px;
    margin-top: 50px;
}

.people_item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

.people_tytle {
    color: #212121;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}

.list_people_name {
    color: #212121;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.48px;
}

.list_people_job {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.div_svg {

    display: inline-block
}

.link_svg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;

}


.link_svg:hover {
    background-color: #2196f3;
    fill: #FFFFFF;

}

.list_svg_ppl {
    display: flex;
    justify-content: center;
    align-items: center;

}

.people_item {
    box-sizing: border-box;
}

/* !==========footer========== */
.footer {
    background-color: #2f303a;
    display: flex;
    padding-left: 215px;
}

.footer_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_list {
    height: 60px;
    margin-bottom: 60px;
    gap: 10px;
}

.footer_name {
    color: #fff;
    font-family: raleway;
    font-weight: 700;
    margin-top: 60px;
    font-size: 26px;
}

.footer_item_link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer_item_link_1 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer_h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social_footer {
    column-gap: 10px;
    display: flex;
}

.footer_social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-position: center center;

}



.footer_item_svg {
    width: 20px;
    height: 20px;
    fill: rgba(255, 255, 255, 1);
}


/* ?==========portfolio========== */
/* !==========header=========== */

.port_wrap {
    border: 1px solid #ececec;
}

/* !==========projects========== */
.proj_list_btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.proj_btn {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    display: inline-block;
    border-radius: 4px;
    margin: 8px;
    width: 112px;
    height: 38px;
    border: none;
}

.proj_btn:hover {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    background-color: #2196f3;
}

.proj_item {
    display: flex;
    flex-direction: column;
}

.proj_item_img {
    width: 356px;
}

.proj_item:nth-child(1n + 7) {
    margin-bottom: 13vh;
}

.proj_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: calc((100% - 3 * 30) / 3);
}

.proj_item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.proj_item_tytle {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}

.proj_item_text {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}

.proj_item_text,
.proj_item_tytle {
    padding-left: 6%;
}

.section_svg {
    margin: 94px;
}



.h4 {

    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.list_svg {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;

}



.icon_section {
    fill: #AFB1B8;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
}

.icon_section:hover {
    fill: #2196F3;

}

.icon_forster {
    display: flex;
    padding: 8px 10px 10px 11px;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
}